.jumbotron {
  padding-top: 7rem;
  background-color: aqua;
}

#projects {
  padding: 2rem;
  background-color: #00ffff;
}

#contact {
  padding: 2rem;
  background-color: floralwhite;
}

section {
  padding-top: 5rem;
}
